 .u-section-1 {
  min-height: 662px;
}

.u-section-1 .u-text-1 {
  margin-bottom: -30px;
  margin-top: 102px;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
}

.u-section-1 .u-text-2 {
  font-family: Delius;
  width: auto;
  font-size: 1.875rem;
  margin: 157px 216px 60px 0;
}

.u-section-1 .u-text-3 {
  font-family: Delius;
  width: auto;
  font-size: 1.875rem;
  margin: 135px 216px 60px 0;
}

.u-section-1 .u-text-4 {
  font-family: Delius;
  font-size: 1.875rem;
  margin: 65px 188px 0 28px;
}

.u-section-1 .u-text-5 {
  font-family: Delius;
  width: auto;
  font-size: 1.875rem;
  margin: 70px 188px 0 28px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.u-section-1 .u-icon-1 {
  margin-right: 0;
  font-size: 0.875em;
}

.u-section-1 .u-form-1 {
  width: 371px;
  margin-top: -431px;
  margin-bottom: 60px;
  margin-left: calc(((100% - 340px) / 2) + 170px);
  height: 84px;
}

.u-section-1 .u-btn-2 {
  padding: 10px 18380px;
}

.u-section-1 .u-form-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: calc(((100% - 340px) / 2) + 19px);
  height: 100px;
}

.u-section-1 .u-btn-3 {
  padding: 10px 18380px;
}

.u-section-1 .u-form-3 {
  margin-top: 6px;
  margin-bottom: 0;
  margin-left: calc(((100% - 340px) / 2) + 19px);
  height: 100px;
}

.u-section-1 .u-btn-4 {
  padding: 10px 18380px;
}

.u-section-1 .u-form-4 {
  margin-top: 14px;
  margin-bottom: 0;
  margin-left: calc(((100% - 340px) / 2) + 19px);
  height: 100px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-btn-5 {
  padding: 10px 18380px;
}

.u-section-1 .u-form-5 {
  margin-top: 3px;
  margin-bottom: 60px;
  margin-left: calc(((100% - 340px) / 2) + 19px);
  height: 84px;
  width: 371px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-btn-6 {
  padding: 10px 18380px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-family: Delius;
    font-size: 1.625rem;
    width: auto;
    margin: 22px calc(((100% - 340px) / 2) + 143px) 0 calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.625rem;
    margin: 64px calc(((100% - 340px) / 2) + 143px) 0 calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1.625rem;
    margin: 66px calc(((100% - 340px) / 2) + 143px) 0 calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-text-4 {
    font-size: 1.625rem;
    width: auto;
    margin-top: 74px;
    margin-right: calc(((100% - 340px) / 2) + 138px);
    margin-left: calc(((100% - 340px) / 2) + -22px);
  }

  .u-section-1 .u-text-5 {
    font-size: 1.625rem;
    margin-top: 68px;
    margin-right: calc(((100% - 340px) / 2) + 143px);
    margin-left: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-btn-1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: Delius;
    margin: 103px auto 0;
    padding: 0 15px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -565px;
    margin-bottom: 0;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-form-2 {
    margin-top: -3px;
    margin-left: calc(((100% - 340px) / 2));
    height: 84px;
    width: 371px;
  }

  .u-section-1 .u-form-3 {
    margin-top: 7px;
    margin-left: calc(((100% - 340px) / 2));
    height: 84px;
    width: 371px;
  }

  .u-section-1 .u-form-4 {
    margin-top: 12px;
    margin-left: calc(((100% - 340px) / 2));
    height: 84px;
    width: 371px;
  }

  .u-section-1 .u-form-5 {
    margin-top: 4px;
    margin-left: calc(((100% - 340px) / 2));
  }
}