<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
</head>
<body class="bg-black">
    <!-- component -->
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <div class="text-center pb-12">
        <h2 class="text-base font-bold text-indigo-600">
            Michi-mi
        </h2>
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
            Check our awesome team members
        </h1>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
        
        {% if mascotas %}
        {% for mascota in mascotas %}
        <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">{{ mascota.nombre }}</p>
                    <p class="text-base text-gray-400 font-normal">Edad: {{ mascota.edad }}</p>
                    <p class="text-base text-gray-400 font-normal">Raza: {{ mascota.raza }}</p>
                    <a href="{{ url_for('edit', id=mascota.id) }}">Editar</a>
                    <a href="{{ url_for('delete', id=mascota.id) }}">Eliminar</a>
                    <a href="{{ url_for('chatasinc', id=mascota.id) }}">chat</a>
            </div>
        </div>



        {% endfor %}
        {% endif %}
        
    </div>
</section>
</body>
</html>



