<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar gato</title>
</head>
<body>
    <h1>Mascotas</h1>
	<form method="POST" action="{{ url_for('registrar_gato') }}">
		{{ form.csrf_token }}
		{{ form.nombre.label }} {{ form.nombre }} <br>
		{{ form.raza.label }} {{ form.raza }} <br>
		{{ form.edad.label }} {{ form.edad }} <br>
		{{ form.peso.label }} {{ form.peso }} <br>
		{{ form.nivel_de_actividad.label }} {{ form.nivel_de_actividad }} <br>
		{{ form.entorno.label }} {{ form.entorno }} <br>
		{{ form.submit() }}
	</form>
    <button><a href="{{ url_for('home') }}"><h2>Atras</h2></a></button>
    
</body>
</html>